body, html {
    height: 100%;
    margin: 0px;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    padding-left: 5px;
    margin: 0;
}
h5 {
    text-align: center;
    line-height: 0px;
}
p {
    padding-left: 25px;
}
td {
    padding-left: 25px;
}
a {
    color:black;
}
nav a {
    text-decoration: none;
}
nav li {
    display: inline;
    margin: 10px;
}
nav ul {
    background-image: linear-gradient(rgba(255, 255, 255, 0.418),rgba(255,255,255,1)), url("../images/binary.jpg");
    /* free image from https://pixabay.com/ */
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    list-style-type: none;
    padding: 15px;
}
nav {
    display: block;
    color: black;
    margin: 5px;
}
.contactinfo {
    padding-left: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.circlepic {
    height: 150px;
    width: 125px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
}
.leftpadding {
    padding-left: 35px;
}
